<html>
<body>
<table>
    <tr>
        <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
        <td><p th:text="${visit.dentistName}"/></td>
    </tr>
    <tr>
        <td><p th:text="#{perearsti.nimi}">perearsti.nimi</p></td>
        <td><p th:text="${visit.gpName}"/></td>
    </tr>
    <tr>
        <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
        <td><p th:text="${#dates.format(visit.visitDate, 'dd.MM.yyyy')}"/></td>
    </tr>
    <tr>
        <td><p th:text="#{visiidi.kellaaeg}">visiidi.kellaaeg</p></td>
        <td><p th:text="${#dates.format(visit.visitTime, 'HH:mm')}"/></td>
    </tr>
    <tr>
        <td>
            <a href="/list"><button type="button" th:text="#{tagasi}">tagasi</button></a>
        </td>
        <td>
        <form action="#" th:action="@{'/delete/{id}'(id=${visit.id})}" th:method="post" >
		  <input type="hidden" name="_method" value="post" />
		  <button type="submit" th:text="#{kustuta.visiit}">kustuta.visiit</button>
		</form>
        </td>
    </tr>
</table>
</body>
</html>