<html>
<body>
<a href="/"><button type="button" th:text="#{tagasi.registreeruma}"></button></a>
<form action="#" th:action="@{/list}" th:object="${dentistVisitSearchDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
            <td><input type="text" th:field="*{dentistName}"/></td>
            <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">Nime viga</td>
        </tr>
        <tr>
            <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
            <td><input type="text" th:field="*{visitDate}"/></td>
            <td th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">Kuupäeva viga</td>
        </tr>
        <tr>
            <td><p th:text="#{visiidi.kellaaeg}">visiidi.kellaaeg</p></td>
            <td><input type="text" th:field="*{visitTime}"/></td>
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kellaaja viga</td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{otsi.visiite}">otsi.visiite</button>
            </td>
        </tr>
    </table>
</form>
	<table>
        <tr>
            <th th:text="#{arsti.nimi}">arsti.nimi</th>
            <th th:text="#{visiidi.kuupaev}">visiidi.kuupaev</th>
            <th th:text="#{visiidi.kellaaeg}">visiidi.kellaaeg</th>
        </tr>
        <th:block th:each="visit :${list}">
        <tr th:onclick="'window.document.location=\'/visit/' + ${visit.id} + '\''">
            <td th:text="${visit.dentistName}"></td>
            <td th:text="${#dates.format(visit.visitDate, 'dd.MM.yyyy')}"></td>
            <td th:text="${#dates.format(visit.visitTime, 'HH:mm')}"></td>
            <td><button type="button" th:text="#{vaata.detaile}">vaata.detaile</button></td>
        </tr>
        </th:block>
    </table>
</body>
</html>